#lists{
    margin-top: 2%;
    background-color: black;
}
#lists li{
    display: inline;
    margin: 7%;
    padding: 1%;
    border: 3px solid black;
    border-radius: 10px;
    background-color: green;
  }
  a{
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
  #lists2{
    margin-left: 70px;
  }